@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR&display=swap');
*, *::before, *::after {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
body * {
  box-sizing: border-box;
}
html {
  font-size: 15px;
  line-height: 1.5;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
}
.fl {float: left;}
.fr {float: right;}
.clear::after {
  content: '';
  display: block;
  clear: both;
}


/* 레이아웃 */
.wrap {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid rgba(153, 153, 153, 0.5);
    position: fixed;
    z-index: 10;
}
.banner {
    width: 100%;
    height: 200px;
    background-color: #AB3636;
    position: relative;
    top: 80px;
}
.contents-wrap {
    width: 1200px;
    height: 700px;
    background-color: #fff;
    margin: auto;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    position: relative;
    top: 80px;
}
footer {
    width: 100%;
    height: 110px;
    background-color: coral;
    position: relative;
    top: 80px;
}



/* 헤더 */
.logo {
    margin-left: 100px;
    padding-top: 10px;
  }
  nav {
    width: 700px;
    height: 80px;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    left: 90px;
  }
  .nav {
    position: relative;
    color: #333;
    font-size: 20px;
    top: -67px;
  }
  .nav::after {
    content: '';
    position: absolute;
    background-color: #D03B27;
    height: 3px;
    width: 0;
    bottom: -10px;
    left: 0px;
    transition: 0.3s;
  }
  .nav:hover {
    color: #D03B27;
  }
  .nav:hover:after {
    width: 100%;
  }
  .click-nav::after {
    content: '';
    position: absolute;
    background-color: #D03B27;
    height: 3px;
    width: 100%;
    bottom: -10px;
    left: 0px;
  }
  .click-nav {
    color: #D03B27;
  }


  .sns-wrap {
    width: 120px;
    height: 80px;
    position: relative;
    top: -146px;
    left: 1700px;
  }
  .fa-brands {
    font-size: 30px;
    padding: 10px;
    margin-right: 10px;
    line-height: 60px;
    color: #D67D71;
  }
  .fa-brands:hover {
    color: #D03B27;
    transition: all 0.4s;
  }

  .banner h3 {
    font-family: 'Do Hyeon', sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 36px;  
    padding: 80px;
    color: #fff;
  }
  
  .set-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(229, 229, 229);
    padding-top: 60px;
  }
  .set-box .set-title {
  
    font-size: 20px;
    color: #D03B27;
    background: none;
    padding: 18px;
  }
  .set-line {
    position: absolute;
    top: 122px;
    width: 90px;
    height: 5px;
    background-color: #D03B27;
  }
  .set-con-box {
    padding: 20px;
  }
  .set-img {
    width: 280px;
    height: 280px;
    background-color: #333;
    float: left;
    margin-top: 30px;
    margin-left: 200px;
  }
  
    
  /* zhsxpscm
   */
  .tab-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(229, 229, 229);
    padding-top: 60px;
  }
  .tab-box .tab-btn {
    font-size: 20px;
    color: #919191;
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
  
  }
  .tab-box .tab-btn.active {
    color: #D03B27;
  }
  .content-box {
    padding: 20px;
  }
  .content-box .content {
    display: none;
    animation: moving 0.5s ease;
  }
  @keyframes moving {
    from{transform: translateX(50px); opacity: 0; }
    to{transform: translateX(0px); opacity: 1; }
  }
  .content-box .content.active {
    display: block;
  }
  .line {
    position: absolute;
    top: 580px;
    left: 110px;
    width: 90px;
    height: 5px;
    background-color: #D03B27;
    transition: all 0.3s ease-in-out;
  }
  
  .img1, .img2, .img3, .img4 {
    width: 280px;
    height: 280px;
    background-color: #333;
    float: left;
    margin-top: 30px;
    margin-right: 10px;
  }
  .img1-1 {
    background-image: url(../images/burmurry-tteobbokki.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .img1-2 {
    background-image: url(../images/hot-tteobbokki.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .img1-3 {
    background-image: url(../images/roze2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .img1-4 {
    background-image: url(../images/ban-tteok.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .img2-1 {
    background-image: url(../images/fride.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .img2-2 {
    background-image: url(../images/yachae.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .img2-3 {
    background-image: url(../images/fride-shrimp2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .img2-4 {
    background-image: url(../images/papper-fride.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .img3-1 {
    background-image: url(../images/kkoma-kimbap.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .img3-2 {
    background-image: url(../images/udong.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .img3-3 {
    background-image: url(../images/soba.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .img3-4 {
    background-image: url(../images/jjolmyeon2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  .img4-1 {
    background-image: url(../images/koreanbloodsausage2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .img4-2 {
    background-image: url(../images/fish-cake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .img4-3 {
    background-image: url(../images/seasonedspicy-chicken.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .img4-4 {
    background-image: url(../images/honeybutter-cheseball.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .set-img1 {
    background-image: url(../images/set1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .set-img2 {
    background-image: url(../images/set2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  
  .img1 p,.img2 p, .img3 p, .img4 p {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 32px;
    color: #fff;
    display: flex;
    justify-content: center;
    -webkit-text-stroke: 1px #D03B27;
    position: relative;
    top: 230px;
  }
  


/* 푸터 */
footer {
  border-top: 1px solid rgba(153, 153, 153, 0.5);
  background-color: #fff;
  margin-top: 380px;
}
footer p {
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  line-height: 30px;
  margin-top: 25px;
  color: #888;
}